node_modules/
**/node_modules/

dist/
**/dist/
coverage/
**/coverage/

.DS_Store
._*

.env
.env.*
!.env.example

*.log
*.bak
*.bak-*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/

tmp/
temp/
